[Desktop Entry]
# Translators: This is the Application Name used in the Compras desktop file
Name[de]=Compras
Name[eo]=Compras
Name[fr]=Compras
Name[ru]=Compras
Name[sr]=Compras
Name[tr]=Compras
Name=Compras
# Translators: This is the Generic Application Name used in the Compras desktop file
GenericName[ja]=買い物リスト
GenericName[pt]=Listas de compras
GenericName[pt_BR]=Listas de compras
GenericName=Shopping Lists
# Translators: This is the comment used in the Compras desktop file
Comment[ja]=買い物リストを管理します
Comment[pt]=Gerencia tuas listas de compras
Comment[pt_BR]=Gerencie suas listas de compras
Comment=Manage your shopping lists
# The translations should come from the po file. Leave them here for now, they will
# be overwritten by the po file when generating the desktop.file.
TryExec=compras
Exec=compras
Terminal=false
Type=Application
# Translators: Search terms to find this application. Do NOT change the semicolons! The list MUST also end with a semicolon!
Keywords=Shopping;Lists;
Keywords[ja]=買い物;リスト;
Keywords[pt]=Compras,Listas;
Keywords[pt_BR]=Compras,Listas;
# Translators: This is the Icon file name. Do NOT translate
Icon=${SNAP}/meta/gui/compras.svg
Categories=Utility;
StartupNotify=false
